.page__header{
    background: url(../assets/practical2.jpg) center center/cover;
}

.contact__list{
    width: fit-content;
    display: flex;
    gap: 3rem;
    margin-inline: auto;
}

.contact__items{
    background: var(--color-primary);
    color: var(--color-gray-0);
    font-size: 1.7rem;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-3);
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.contact__items:hover{
    background: var(--color-gray-900);
}

.adress{
    margin: 6rem 0;
}

.adress__details{
    text-align: center;
}

.adress__details h4{
    margin: 3rem 0 1rem;
    color: var(--color-primary);
}

.adress__details h2{
    margin-bottom: 1rem;
}

.adress__details ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

iframe{
    margin-top: 4rem;
    height: 50rem;
    width: 100%;
    border-radius: var(--radius-4);
}




/* =============== MEDDIA QUERIS (small device) =============== */
@media screen and (max-width: 600px) {
    .contact__list{
        margin-top: 5rem;
        gap: 1.8rem;
    }
}